<!-- ko with: home -->

<html>
<body>

    <header id="top" class="header">
    <!--    <div class="text-vertical-center">
            <h1 class="top">Software Engineer</h1>  
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
       
            <aside class="profile-card">

                <header>
                    <p class="hoverme">Hover Me!!!</p>
                    <!-- here’s the avatar -->
                     <!-- the username -->
                    <h1>Guyver Hopkins</h1>

                    <!-- and role or location -->
                    <h2>- Full Stack Software Developer -</h2>
                    
                </header>

                <!-- bit of a bio; who are you? -->
                <div class="profile-bio">
                    
                    <p>Hello there!</p>
                    <p>I am searching for a software engineering position in which I can bring full stack software skills, computational thinking, an eye for GUI, a positive attitude, creativity, drive to succeed and an eagerness to learn. Seeking a developer position with a company looking to grow together in the future.</p>
                    
                     <a class="profile-social-links" href="https://www.linkedin.com/in/guyverhopkins"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    <a class="profile-social-links" href="https://github.com/happypoofysquirrel/"><i class="fa fa-github fa-fw fa-3x"></i></a>

                </div>
               
            </aside>
            <!--  </div>-->
       
       
            <a href="#about" class="morebtn">Find Out More</a>
            
</header>
<!--
    <section id="objective">
        <div class="text-vertical-center">
            <h3>Searching for a software engineering position in which I can bring full stack software skills, computational thinking, an eye for GUI, a positive attitude, creativity, and an eagerness to learn. Seeking entry in the IT field with a company looking to grow together in the future.</h3>
        </div>
    </section>
    -->

    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Software Development Skills</h2>
                </div>
                    <table class="skills" style="width:100%">
                        <tr>
                            <td class="left"> JQuery <br /> Retrofit <br /> Git <br /> Agile <br /> Oauth <br /> SQL</td>
                            <td class="planets">
                                <div class="skills-circle-wrap">
                                    <div class="skillsbtn">Hover Me</div>
                                    <div class="skills-circle">
                                        <div class="skill-orbit">
                                            <div class="skill-planet"><span>API</span></div>
                                        </div>
                                        <div class="skill-orbit">
                                            <div class="skill-planet"><span>CSS</span></div>
                                        </div>
                                        <div class="skill-orbit">
                                            <div class="skill-planet"><span>HTML</span></div>
                                        </div>
                                        <div class="skill-orbit">
                                            <div class="skill-planet"><span>OOP</span></div>
                                        </div>
                                        <div class="skill-orbit">
                                            <div class="skill-planet"><span>C#</span></div>
                                        </div>
                                    </div>
                                    <div class="skills-top-circle panel"></div>
                                </div>
                            </td>
                            <td class="right">Android<br /> Java <br /> Fragments <br />Photoshop <br /> Ajax <br /> Butterknife <br /> Json</td>
                        </tr>
                    </table>
                </div>
            </div>
    </section>

    <section id="portfolio" class="portfolio">
            <div class="wrapper roundedCorners">

                <div class="main">
                    <h1 class="pageTitle">Portfolio</h1>
                    <h2 class="pageSubtitle">Click images to view github</h2>
                    
                </div>

            </div>

            <ul class="top2">
                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/OmgSquirrel"
                       data-title="Omg Squirrel"
                       data-description="A in progress android application with a gallery, soundboard, and information about squirrels.">

                        <img src="~/Content/OmgSquirrel.GIF" alt="Landscape image">
                        
                    </a>
                </li>

                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/Connect3Game"
                       data-title="Connect 3 Game"
                       data-description="Connect 3 for Android"> 
                        <img src="~/Content/Screenshot_2016-07-24-21-08-25.png" />
                    </a>
                </li>

                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/Group-Projects/tree/master/Movie%20Rental%20Group2"
                       data-title="Movie Store"
                       data-description="Application that allows the user to checkout movies, check if any movies are past their due date, and return movies with a total amount due based on whether the movie was overdue.">

                        <img src="~/Content/rental.GIF" />
                    </a>
                </li>
                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/CodeEval/tree/master/fizzbuzz/fizzbuzz"
                       data-title="FizzBuzz"
                       data-description="An application that simulates the game fizzbuzz. Shows the use of conditional statements aswell as input from the console.">
                        <img src="~/Content/fizzbuzzz.GIF" />
          
                    </a>
                </li>
                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/I.O.FunnySentenceRandomizer"
                       data-title="I.O. Funny Sentence Randomizer"
                       data-description="A console application that inputs from a file a series of verbs nouns and pronouns and outputs a random sentence generated from those words to a file.">
                        <img src="~/Content/IORan.GIF" />
              
                    </a>
                </li>
                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/BrainTrainerDemoGame"
                       data-title="Brain Trainer"
                       data-description="Android brain trainer game">
                      
                        <img src="~/Content/Screenshot_2016-07-24-21-13-00.png" />
                    </a>
                </li>
                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/PortfolioFinal"
                       data-title="This Website"
                       data-description="This website was created using a database first MVC application. I took away as much of the MVC template as possible and started from scratch.">
                        
                        <img src="~/Content/Database Loop.GIF" />
                    </a>
                </li>
                <li class="galleryItem">
                    <a class="caption"
                       href="https://github.com/happypoofysquirrel/CodeEval/tree/master/CodeEval%20Postfix%2BPrefix"
                       data-title="PostFix + PreFix Expressions"
                       data-description="A conole application that determins weather and expression is postfix or prefix then prints the result">
                        <img src="~/Content/fonts/javascript example.GIF" />
                    </a>
                </li>

            </ul>
        <!--
        <div class="wrapper roundedCorners">
            <h1 class="pageTitle">Want to know what i did before coding?</h1>
        </div>
            <div class="pastrybtn">click me</div>
            -->
</section>

    <section id="contact" class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191259.81086868377!2d-81.84629168293321!3d41.494857143774105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830ef2ee3686b2d%3A0xed04cb55f7621842!2sCleveland%2C+OH!5e0!3m2!1sen!2sus!4v1454374613844" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </section>

    <!-- Footer -->
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h4>
                            <strong>Guyver Hopkins</strong>
                        </h4>
                        <p>Cleveland/Akron Ohio Area</p>
                        <ul class="list-unstyled">
                            
                            <li>
                                <i class="fa fa-envelope-o fa-fw"></i>  <a href="guyver432@gmail.com">Gmail</a>
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.linkedin.com/in/guyverhopkins"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/happypoofysquirrel/"><i class="fa fa-github fa-fw fa-3x"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</body>

</html>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>

       


        $(document).ready(function () {
            $("span.sym").bind('fade-cycle', function () {
                $(this).fadeOut('slow', function () {
                    $(this).fadeIn('slow', function () {
                        $(this).trigger('fade-cycle');
                    });
                });
            });
        });
        $(document).ready(function () {
            $("span.sym").each(function (index, elem) {
                setTimeout(function () {
                    $(elem).trigger('fade-cycle');
                }, index * 250);
            });
        });

        // Scrolls to the selected menu item on the page
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });

        </script>


    <!-- /ko -->


